big-size = 30px
mid-size = 16px
text-size = 12px
serif-family = droid-serif-1, droid-serif-2, Georgia, serif
sans-serif-family = "Helvetica Neue",Helvetica,Arial,sans-serif

body
  font-size text-size
  font-family sans-serif-family
  color greyish
  text-align center
  background #fff

#wrapper
  width 920px
  text-align left
  margin-left auto
  margin-right auto
  background #fff
  padding 20px
  margin-bottom 30px

h3
  font-family serif-family
  text-align center
  font-weight normal
  font-size mid-size
  margin-top 10px
